:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #f1f1f1;
}

.split-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* left-side */
.left-side {
  background-image: url(./images/green_plant.jpg);
  background-size: cover;
  width: 40vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  margin-top: 130px;
  padding: 10px;
}

.logo > img {
  width: 50px;
  height: 70px;
}

.logo-text {
  font-size: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  color: #fff;
}

.credit-creator > a {
  color: #fff;
}

.projectGithubLink > a {
  color: #fff;
}

.credit-creator > a:hover,
.projectGithubLink > a:hover {
  color: purple;
}