:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden
}

/* left side - image*/
.image {
  left: 0;
  width: 35%;

  background-image: url("./images/green_plant.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 120vw;
  color: #fff;
}

.logo {
  display: flex;
  gap: .5rem;
  background: rgb(0, 0, 0, .6);
  margin-top: 170px;
}

.logo > img {
  width: 50px;
  height: 75px;
  margin-left: 175px;
  margin-top: 40px;
}

.logo > h1 {
  font-size: 3.5rem;
}

.footer {
  margin-top: 310px;
  margin-left: 125px;
}

.projectGithubLink {
  margin-left: 90px;
}

.credit-creator > a,
.projectGithubLink > a {
  color: #fff;
  font-weight: 600;
}

.credit-creator > a:hover,
.projectGithubLink > a:hover {
  color: rgb(0, 0, 255);
}

.content {
  right: 0;
  width: 65%;
  
  background: #f1f1f1;
}