body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  height: 200px;
  flex-direction: column;
  background-image: url(./images/green_plant.jpg);
  background-size: cover;
}

.right {
  flex-direction: column;
}

@media screen and (min-width: 900px) {
    .split-screen {
      flex-direction: row;
      height: 100vh;
    }

    .left,
    .right {
      display: flex;
      /* width: 50%; */
      height: auto;
    }

    .left {
      width: 40%;
    }

    .right {
      width: 60%;
    }
}